body{
 background-repeat: no-repeat;
    
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.774),rgba(0, 0, 0, 0.774)),
    url("imagenes/header-image.png.jpg") ; 
  
    }


  
body{ 
 background-color: black;
 }

 .netfondo{
  width: 850px;
 }
 
  h1{
    color: rgb(255, 255, 255);
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

h3,p{
 color: rgb(255, 255, 255);
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.obuton{
   margin-top: -950px;
}
  
  header  {
   background-size: cover;
   background-position: center;
   padding: 10px 8%;
   position: relative;
  }

nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px 0;
} 
.logo{
  width: 150px;
cursor: pointer;
}
nav button  {
   border: 0;
   outline: 0;
   background: #db000d;
   color: #fff;
   padding: 7px 20px;
   font-size: 12px;
   border-radius: 4px;
   margin: 10px;
   cursor: pointer;
   margin-top: -950px;
}
.header-content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      margin-top: 100px;
}

.email-signup{
     background: #fff;
     border-radius: 4px;
     display: flex;
     align-items: center;
     margin-top: 30px;
     overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin: 20px;
}
.email-signup button{  
      background: #db000d;
      border: 0;
      bottom: 0;
      font-size: 15px;
      cursor: pointer;
      color: #fff;
      padding: 20px 36px;
}

.text-col {
      flex-basis: 50%;
margin-bottom: 20px;
}

.imagen {
margin-top: 350px;
width: 550px;

}
.Trending{  
  text-align: center;
  margin-top: 550px;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-align: left;
  background-color: black;
  border-color: black;
  border-style: solid;
   border-left: 550px;
  padding: 150px;
  border-left: 550px;
  display: block;
text-decoration: none;
color: #777;
font-size: 14px;
margin-bottom: 10px;
}
.peli{ 
  text-align: center;
   margin-top: 20px;
      color: rgb(255, 255, 255);
 font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings: "wdth" 100;
   background-color: black;
  border-color: black;
  border-style: solid;
  text-align: left;
  
}
.features {
padding: 50px 12%;
font-size: 22px;

}
.row{ 
display: flex;
width: 100%;
align-items: center;
flex-wrap: wrap;
padding: 50px 0;
}

text-col{  
flex-basis: 50%;
margin-bottom: 20px;  
}

img-col  {
  flex-basis: 50%;
margin-bottom: 20px;  
}

img-col img{
display: block;
width:90% ;
margin: auto;
}

.features h2{  
font-size: 50px;
font-weight: 600;
margin-bottom: 20px;
}

.faq {
  padding: 10px 12%;
  text-align: center;
  font-size: 18px;
}
.faq h2{
font-size: 40px;
font-size: 500;
}

.accordion  {
margin: 60px auto;
width: 100%;
max-width: 750px;
}

.accordion li{
list-style: none;
width: 100%;
padding: 5px;
}

.accordion li label{
display: flex;
align-items: center;
padding: 20px;
font-size: 18px;
font-weight: 500;
background:   #303030;
margin: 2px;
cursor: pointer;
position: relative;
}

label::after  {
content: "+";
font-size: 34px;
position: absolute;
right: 20px;
transition: transform 0.3;
}

input[type="radio"]{
  display: none;
}

.accordion .content{
background: #303030;
text-align: left;
padding: 0 20px;
max-height: 0;
overflow: hidden;
transition: max-height 0.3s  , padding 0.3s;
}

.accordion input[type="radio"]:checked + label + .content{
  max-height: 600px;
padding: 30px 20px;

}

.accordion input[type="radio"]:checked + label::after{
transform: rotate(135deg)
}

.faq .email-signup{
max-width: 600px;
margin: 20px auto 60px;

}
.faq small{
font-size: 13px;

}

.footer{
padding: 50px 15% 10px;
border-top: 6px solid #333;
color: #777;

}

.footer h4{
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .col{
flex-basis: 25%;
flex-grow: 1;
margin-bottom: 20px;
}
.footer .col a{
display: block;
text-decoration: none;
color: #777;
font-size: 14px;
margin-bottom: 10px;
}
.footer .row{
align-items: flex-start;
padding: 10px 0;
}
.copyright-txt{
 margin-top: 20px;
 font-size:  14px;
 margin-bottom: 10px;
 color: #777;
}

